<% content_for :sidebar do %>
	<%= render :partial => "shared/taxonomies" %>
<% end %>
<h3><%= @news_item.title %></h3>
<%= @news_item.body %>
<br /><p class="right"><%= link_to t('all_news'), news_path %></p>